header{
  display: flex;
  text-align: center;
  width: 100%;
  background-color: blueviolet;
  color:white; 
}

#face{
  width: 200px;
  margin: 10px;
  background-color: white;
}

#titleblock{
  display: flex;
  flex-direction: column;
  width:100%;
  text-align:center;
}





nav{
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  color:white;
  padding-top:10px;
  padding-left:10px;
  margin-top:10px;
  height:100%;
}

nav a:link{
  color:white
}
nav a:visited{
  color:white
}

#relatedSites{
  display: flex;
  flex-direction: column;
  background-color:white;
  padding-top:10px;
  padding-left:10px;
  margin-top:10px;
  margin-left:10px;
  width:auto;
  border: 2px solid blueviolet;
  height:100%;
}

#relatedSites a:visited{
  color:blueviolet;
}
#relatedSites a:link{
  color:blueviolet;
}

.item1 { grid-area: header;}
.item2 { grid-area: nav; }
.item3 { grid-area: main; }
.item4 { grid-area: side; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template:
    'header header header'
    'nav main side'
    'footer footer footer';
    grid-template-columns: 10% auto 10%;
  }

footer{
  background-color: blueviolet;
  color:white; 
  margin-top:30px;
}

main {
  padding-top:50px;
  padding-bottom:50px;
  padding-left:50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  columns: #333333;
}

a {
  color: #00B7FF;
}


